.footer {

    height: 20vh;
    background-color: #222324;
    border-top: 2px solid #A54E1D;
    margin-top: 50px;


    &__container {
        display: flex;
        flex-direction: column;
    }



    &__ulist {

        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;



    }

    &__list-item {
        display: inline-flex;
    }

    &__link {
        text-decoration: none;
        color: #A54E1D;
        font-size: 14px;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__title {
        color: #A54E1D;
        font-weight: 800;

    }

    &__copyright {

        text-align: center;
        color: white;

    }



    .social-features {
        margin-top: 10px;


        .icons {
            display: flex;
            width: 100%;
            justify-content: space-around;


            img {
                width: 50px;
                filter: saturate(0);
                transition: 0.2s;
            }

            img:hover {
                filter: saturate(1);
                cursor: pointer;
            }
        }

    }






}