.header {

    display: flex;
    position: relative;
    height: 200px;

    .header--small {
        display: none;

        @include mediaq(small) {
            display: block;
            filter: grayscale(100%);
        }
    }

    &__logo {
        &-img {
            position: absolute;
            z-index: 5;
            height: 100%;
            object-fit: contain;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }

    &__mobile-menu {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        height: 50px;
        width: 50px;
        top: 1rem;
        left: 1rem;
        font-size: 42px;
        color: #A54E1D;
        transition: all .3s;
        transform: rotate(0deg);


        &:hover {
            font-size: 46px;
        }

        &.rotate {

            transition: transform .3s ease-in-out;
            transform: rotate(90deg);
        }



    }


}









// nawigacja


.nav {
    a {
        display: inline-block;
        width: 100%;
    }
}

.list__item {



    background-color: #222324;
    line-height: 3rem;
    list-style-type: none;
    overflow: hidden;
    transition: height .3s ease-out;


    &--is-visible {

        display: flex;
        flex-direction: column;
        height: auto;

    }

    // .wrapper {
    //     position: relative;


    //     ul {
    //         display: flex;
    //         flex-direction: column;
    //         flex-wrap: wrap;
    //         position: absolute;
    //         z-index: 10;
    //         visibility: hidden;
    //         list-style-type: none;
    //         width: 12rem;
    //         left: -1px;
    //         transition: .3s;
    //         opacity: 0;



    //         li {
    //             background-color: #222324;
    //             padding-left: 10px;
    //             transition: 0.3s;
    //             border-right: 2px solid #43474B;
    //         }

    //         li>.link {
    //             color: white;
    //             text-decoration: none;
    //             font-family: 'oxygen';
    //             font-size: 16px;
    //             font-weight: 600;
    //             text-transform: uppercase;


    //         }

    //         li:hover {
    //             background-color: #333538;
    //             cursor: pointer;
    //             padding-left: 20px;
    //             border-color: #A54E1D;


    //         }


    //     }
    // }



    &-single {

        padding: 0 20px 0 20px;
        border-right: 1px solid #43474B;
        transition: 0.2s;
        // display: none;


        .link {
            color: white;
            text-decoration: none;
            font-family: 'oxygen';
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        &:hover {
            background-color: #333538;
            cursor: pointer;
            border-left: 2px solid #A54E1D;

        }


    }

    .list__collapse {

        height: 0;
        overflow: hidden;

        .link {
            color: white;
            text-decoration: none;
            font-family: 'oxygen';
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 2rem;
            transition: all .2s ease-in-out;
        }


        &-item:hover>.link {
            margin-left: 2.5rem;
        }

        &--collapsed {
            height: auto;
            overflow: visible;
        }
    }

    &-single:nth-child(1) {
        border-left: 1px solid #43474B;
    }




    &-single.active {
        background-color: #333538;
        border-left: 2px solid #A54E1D;
    }
}






/* slider */

.slider {



    height: 30vh;
    overflow: hidden;
    // background-image: url('./images/zajawa.jpg');
    background-repeat: no-repeat;
    background-position-y: 30%;
    filter: grayscale(40%);
    background-size: cover;
    display: none;


}