.section-divider {
    text-transform: uppercase;
    color: white;
    font-family: 'oxygen';
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 7vh;
    background-color: #222324;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px #000000;
    box-shadow: 0px 2px 6px 0px #000000;

}


.section-two {
    &__content {
        display: flex;
        height: auto;
        margin: 3rem;
        width: 80%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }

    &__photo {



        img {
            height: 300px;
            border-radius: 5%;
        }

    }

    &__description {
        color: white;
        font-family: 'oxygen';
        margin-left: 2rem;
        text-align: justify;
        font-size: 20px;

        &_title {
            font-weight: 800;
            font-size: 22px;
            margin-bottom: 2rem;

        }
    }
}



.section-one {

    .partner-logos {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 50px;
        place-items: center;

        &__item {

            img {
                height: 200px;
                filter: grayscale(100%);
                transition: 0.2s;
            }

            img:hover {
                filter: grayscale(0%);
                cursor: pointer;
            }


        }





    }
}